<footer class="footer">
  <div class="footer__wrapper container">
    <address class="footer__contacts">
      <div class="footer__logo">
        <img
          src="./img/svg/icons.svg#logo-footer-ico"
          class="svg-logo-footer-ico-dims"
          width="26"
          height="26"
          alt=""
        />
        <span class="footer__logo-text">CONQUEST</span>
      </div>
      <a href="tel:84994504797" class="footer__tel">8 (499) 450-47-97 </a>
      <a href="mailto:info@conquest.watch.ru" class="footer__email"
        >info@conquest.watch.ru</a
      >
    </address>
    <div class="footer__col col">
      <h3 class="col__title">о компании</h3>
      <ul class="col__list">
        <li class="col__list-item">
          <a href="#!" class="col__list-link">Наши магазины</a>
        </li>
        <li class="col__list-item">
          <a href="#!" class="col__list-link">Вакансии</a>
        </li>
        <li class="col__list-item">
          <a href="#!" class="col__list-link">Сертификаты</a>
        </li>
        <li class="col__list-item">
          <a href="#!" class="col__list-link">Отзывы</a>
        </li>
      </ul>
    </div>
    <div class="footer__col col">
      <h3 class="col__title">покупателям</h3>
      <ul class="col__list">
        <li class="col__list-item">
          <a href="#!" class="col__list-link">Каталог товаров</a>
        </li>
        <li class="col__list-item">
          <a href="#!" class="col__list-link">Как заказать?</a>
        </li>
        <li class="col__list-item">
          <a href="#!" class="col__list-link">FAQ</a>
        </li>
        <li class="col__list-item">
          <a href="#!" class="col__list-link">Корпоративным клиентам</a>
        </li>
      </ul>
    </div>
    <div class="footer__col col">
      <h3 class="col__title">оплата и доставка</h3>
      <ul class="col__list">
        <li class="col__list-item">
          <a href="#!" class="col__list-link">Способы оплаты</a>
        </li>
        <li class="col__list-item">
          <a href="#!" class="col__list-link">Время доставки</a>
        </li>
        <li class="col__list-item">
          <a href="#!" class="col__list-link">Гарантии и ремонт</a>
        </li>
        <li class="col__list-item">
          <a href="#!" class="col__list-link">Возврат и компенсация</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
