@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url("../font/playfair-display-v25-latin_cyrillic-700.woff2") format("woff2"),
	url("../font/playfair-display-v25-latin_cyrillic-700.woff") format("woff");
}
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../font/playfair-display-v25-latin_cyrillic-regular.woff2") format("woff2"),
	url("../font/playfair-display-v25-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
	font-family: 'Prata';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../font/prata-v13-latin_cyrillic-regular.woff2") format("woff2"),
	url("../font/prata-v13-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local(''),
	url("../font/roboto-v29-latin_cyrillic-300.woff2") format("woff2"),
	url("../font/roboto-v29-latin_cyrillic-300.woff") format("woff");
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local(''),
	url("../font/roboto-v29-latin_cyrillic-500.woff2") format("woff2"),
	url("../font/roboto-v29-latin_cyrillic-500.woff") format("woff");
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url("../font/roboto-v29-latin_cyrillic-700.woff2") format("woff2"),
	url("../font/roboto-v29-latin_cyrillic-700.woff") format("woff");
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../font/roboto-v29-latin_cyrillic-regular.woff2") format("woff2"),
	url("../font/roboto-v29-latin_cyrillic-regular.woff") format("woff");
}
