html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1 {
  font: 24px "Arial, Sans-serif";
  margin: 40px 0;
  width: 100%;
  text-align: center;
}
.burger {
  width: 200px;
  height: 150px;
  cursor: pointer;
  position: relative;
}
.burger__line {
  display: block;
  width: 100%;
  height: 20px;
  background-color: black;
  position: absolute;
  left: 0;
  transition: all 0.5s ease;
}

.burger__line--first {
  top: 0;
}

.burger__line--second,
.burger__line--third {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line--fourth {
  bottom: 0;
}
.burger--active .burger__line--first,
.burger--active .burger__line--fourth {
  opacity: 0;
}

.burger--active .burger__line--second {
  transform: translateY(-50%) rotate(45deg);
}

.burger--active .burger__line--third {
  transform: translateY(-50%) rotate(-45deg);
}
